body{
    background-color: black;
    color : white;

}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    background-color: gray;
    margin-left: 28%;
}
h1 {
    padding-left: 40%;
}
