body{
    background-color: gray;
    color: green;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: black;
}